{% extends 'base.html.twig' %}

{% block title %}EventCalendar index{% endblock %}

{% block body %}
<main class="container">
    
    <h1 class="text-center mt-5 mb-5">Evénements</h1>

    <a href="{{ path('app_event_calendar_new') }}">Créer un nouvel événement</a>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Start</th>
                <th>End</th>
                <th>Description</th>
                <th>Is_all_day</th>
                <th>Background_color</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event_calendar in event_calendars %}
            <tr>
                <td>{{ event_calendar.id }}</td>
                <td>{{ event_calendar.title }}</td>
                <td>{{ event_calendar.start ? event_calendar.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event_calendar.end ? event_calendar.end|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event_calendar.description }}</td>
                <td>{{ event_calendar.isAllDay ? 'Yes' : 'No' }}</td>
                <td>{{ event_calendar.backgroundColor }}</td>
                <td>
                    <a href="{{ path('app_event_calendar_show', {'id': event_calendar.id}) }}">show</a>
                    <a href="{{ path('app_event_calendar_edit', {'id': event_calendar.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}
