{% extends 'base.html.twig' %}

{% block title %}Event index{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('planning') }}
{% endblock %}

{% block body %}
<main class="container">

    <h1 class="text-center mt-5 mb-5">Planning</h1>

    <a href="{{ path('app_event_new') }}">Créer un nouvel événement</a>


    <div id="planning-container">
        <Planning></Planning>
    </div>

    <table class="table mt-5">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Début</th>
                <th>Fin</th>
                <th>Couleur</th>
                <th>Description</th>
                <th>Toute la journée</th>
                <th>Cours de danse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.name }}</td>
                <td>{{ event.start ? event.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.end ? event.end|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.color }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.timed ? 'Yes' : 'No' }}</td>
                <td>{{ event.danceClasses.name }}</td>
                <td>
                    <a href="{{ path('app_event_show', {'id': event.id}) }}">show</a>
                    <a href="{{ path('app_event_edit', {'id': event.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}