{% extends 'base.html.twig' %}

{% block title %}DanceTeacher index{% endblock %}

{% block body %}
<main class="container">

    <h1 class="text-center mt-5 mb-5">Professeurs</h1>

    <a href="{{ path('app_dance_teacher_new') }}">Nouveau professeur</a>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Histoire</th>
                <th>Cours de danse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dance_teacher in dance_teachers %}
            <tr>
                <td>{{ dance_teacher.id }}</td>
                <td>{{ dance_teacher.firstname }}</td>
                <td>{{ dance_teacher.lastname }}</td>
                <td>{{ dance_teacher.story|striptags|slice(0,60) }}</td>
                <td>{{ dance_teacher.danceClasses.name }}</td>
                <td>
                    <a href="{{ path('app_dance_teacher_show', {'id': dance_teacher.id}) }}">Voir</a>
                    <a href="{{ path('app_dance_teacher_edit', {'id': dance_teacher.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}
