{% extends 'base.html.twig' %}

{% block title %}L'école{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
<div>
    <img id="photo-accueil" class="img-responsive" src="{{ asset('build/images/dance_girl.jpg') }}" alt="Photo de danse">
</div>

<h1 class="title-welcome text-center mt-5">Bienvenue à l'école de danse "Step and Go" de Lyon !</h1>

<p class="content mt-5 mb-5 text-center">
    Notre école a été créée en 2001, et se situe dans le 8ème arrondissement de Lyon.</br> Nous proposons divers cours de danse, accsessibles à tous les niveaux, à partir de 16 ans, dans une ambiance bienveillante et conviviale.</br>
    La qualité de nos cours est notre priorité, c'est pourquoi nous selectionnons avec attention tous nos professeurs pour leur sérieux, leur pédagogie, et leurs qualités humaines. Nous souhaitons que chacun de nos élèves puisse progresser dans la joie et la bonne humeur, et s'épanouir à travers la danse.<br>
    Afin de clôturer l'année en beauté, nous organisons  un spectacle en juin permettant à tous de se rendre compte de son évolution.
</p>

<div class="carousel mb-5">
    <div id="container-carousel">
        <img class="photo-carousel img-responsive" src="{{ asset('build/images/promo.jpg') }}" alt="Photo de l'école" class="photo-carousel">
        <p class="carousel-title">Elèves</p>
        <img src="{{ asset('build/images/bouton.png') }}" class="bouton" id="rightButton" alt="bouton droite du carroussel"/>
        <img src="{{ asset('build/images/bouton.png') }}" class="bouton" id="leftButton" alt="bouton gauche du carroussel"/>
    </div>
</div>
{% endblock %}
