{% extends 'base.html.twig' %}

{% block title %}Les cours de danses{% endblock %}

{% block body %}
<main class="text-center">

    <h1 class="text-center mt-5 mb-5">Cours de danse</h1>

    {% for dance in danceClasses %}

    <div class="cardDance d-inline-flex m-5 ">
        <div class="card-style" style="width: 18rem;">
            <img class="card-img-top" src="{{ dance.poster  }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">{{ dance.name }}</h5>
                <p class="mt-2 mb-2">
                    {{ dance.description }}
                </p>
            </div>
        </div>
    </div>

    {% endfor %}

{#     {% for dance in danceClasses %}
    <div class="modal-container-{{ dance.name }}" id="modal-container">
            <div class="overlay modal-trigger"></div>

            <div class="modal-content">
                <button class="close-modal modal-trigger">X</button>
                <h1>{{ dance.name }}</h1>
                <img class="card-img-top" src="{{ dance.poster  }}" alt="Card image cap">
                <p>{{ dance.description }}</p>
            </div>
    </div>
    {% endfor %}
 #}
</main>
{% endblock %}
