{% extends 'base.html.twig' %}

{% block title %}Les professeurs{% endblock %}


{% block body %}
<main class="text-center">

    <h1 class="text-center mt-5 mb-5">Nos professeurs</h1>

    {% for teacher in danceTeachers %}
    
        <div class="cardTeacher d-inline-flex m-5 ">
            <div class="card-style" style="width: 18rem;">
                <img class="card-img-top" src="{{ teacher.photo }}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">{{ teacher.firstname }} {{ teacher.lastname }}</h5>
                    <p class="text-center">Professeur de {{ teacher.DanceClasses.name }}</p>
                    <p>{{ teacher.story }}</p>
                </div>
            </div>
        </div>
    {% endfor %}

</main>
{% endblock %}