{% extends 'base.html.twig' %}

{% block title %}DanceClasses index{% endblock %}

{% block body %}
    <h1>DanceClasses index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dance_class in dance_classes %}
            <tr>
                <td>{{ dance_class.id }}</td>
                <td>{{ dance_class.name }}</td>
                <td>{{ dance_class.description }}</td>
                <td>
                    <a href="{{ path('app_dance_classes_show', {'id': dance_class.id}) }}">show</a>
                    <a href="{{ path('app_dance_classes_edit', {'id': dance_class.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_dance_classes_new') }}">Create new</a>
{% endblock %}
