{% extends 'base.html.twig' %}

{% block title %}DanceClasses index{% endblock %}

{% block body %}
<main class="container">

    <h1 class="text-center mt-5 mb-5">Cours de danse</h1>

    <a href="{{ path('app_dance_classes_new') }}">Nouveau cours</a>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cours</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for dance_class in dance_classes %}
            <tr>
                <td>{{ dance_class.id }}</td>
                <td>{{ dance_class.name }}</td>
                <td>{{ dance_class.description|striptags|slice(0,60) }}</td>
                <td>
                    <a href="{{ path('app_dance_classes_show', {'id': dance_class.id}) }}">Voir</a>
                    <a href="{{ path('app_dance_classes_edit', {'id': dance_class.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}
