<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">

    <section class="d-flex justify-content-center p-2 border-bottom">
    
        <div class="me-5 d-none d-lg-block">
            <span>Rejoignez-nous sur les réseaux :</span>
        </div>

        <div>
              <a href="https://fr-fr.facebook.com/" class="mx-2">
                  <img src="{{ asset('build/images/logo_reseau/facebook.png') }}" width="30px" alt="logo facebook">
              </a>
              <a href="https://twitter.com/?lang=fr" class="mx-2">
                  <img src="{{ asset('build/images/logo_reseau/twitter.png') }}" width="30px" alt="logo twitter">
              </a>
              <a href="https://www.instagram.com/?hl=fr" class="mx-2">
                  <img src="{{ asset('build/images/logo_reseau/instagram.png') }}" width="30px" alt="logo instagram">
              </a>
              <a href="https://www.google.com/" class="mx-2">
                  <img src="{{ asset('build/images/logo_reseau/google.png') }}" width="30px" alt="logo google">
              </a>
              <a href="https://github.com/" class="mx-2">
                  <img src="{{ asset('build/images/logo_reseau/github.png') }}" width="30px" alt="logo github">
              </a>
              <a href="https://www.linkedin.com/" class="mx-2">
                  <img src="{{ asset('build/images/logo_reseau/linked-in.png') }}" width="30px" alt="logo linkedin">
              </a>
        </div>

    </section>

    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05);">
        © 2021 Copyright:
        <a class="text-reset fw-bold" href="https://www.step_and_go.com/">STEP AND GO</a>
    </div>
    
</footer>
<!-- Footer -->