{{ form_start(form) }}
<div class="message-form-content ">
    <div class="my-custom-class-for-errors">
    {{ form_errors(form) }}
    </div>
    <div class="text-center mb-3">
        {{ form_label(form.firstname) }}
        {{ form_widget(form.firstname) }}
    </div>
    <div class="text-center mb-3">
        {{ form_label(form.lastname) }}
        {{ form_widget(form.lastname) }}
    </div>
    <div class="text-center mb-3">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
    </div>
    <div class="text-center mb-3">
        {{ form_label(form.reason) }}
        {{ form_widget(form.reason) }}
    </div>
    <div class="text-center mb-3">
        {{ form_label(form.danceClasses) }}
        {{ form_widget(form.danceClasses) }}
    </div>
    <div class="text-center mb-3">
        {{ form_label(form.message) }}
        {{ form_widget(form.message) }}
    </div>

    <div class="text-center mb-5">
         <button class="button-save-message modal-trigger" id="button-save-user">{{ button_label|default('Envoyer') }}</button>
    </div>
</div>
{{ form_end(form) }}
