{% extends 'base.html.twig' %}

{% block title %}UserMessage index{% endblock %}

{% block body %}
<main class="container">
    <h1 class="text-center mt-5 mb-5">Message des internautes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Raison</th>
                <th>Message</th>
                <th>Cours de danse</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_message in user_messages %}
            <tr>
                <td>{{ user_message.firstname }}</td>
                <td>{{ user_message.lastname }}</td>
                <td>{{ user_message.email }}</td>
                <td>{{ user_message.reason }}</td>
                <td>{{ user_message.message }}</td>
                <td>
                {% for danceClasse in user_message.danceClasses %}
                    {{ danceClasse.name }}
                {% endfor %}
                </td>
                <td>
                    <a href="{{ path('app_user_message_show', {'id': user_message.id}) }}">Voir</a>
                </td>  
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}
