{% extends 'base.html.twig' %}

{% block title %}UserMessage{% endblock %}

{% block body %}
<main class="container">
    <h1 class="text-center mt-5 mb-5">Message</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Prénom</th>
                <td>{{ user_message.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user_message.lastname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user_message.email }}</td>
            </tr>
            <tr>
                <th>Raison</th>
                <td>{{ user_message.reason }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ user_message.message }}</td>
            </tr>
            <tr>
                <th>Cours de danse</th>
                <td>
                {% for danceClasse in user_message.danceClasses %}
                    {{ danceClasse.name }}
                {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>

    <a href="mailto:mailto:{{ user_message.email }}">Répondre</a> 

    {{ include('user_message/_delete_form.html.twig') }}

    <a href="{{ path('app_user_message_index') }}">Retour à la liste des messages</a>
</main>
{% endblock %}
