{% extends 'base.html.twig' %}

{% block title %}UserMessage{% endblock %}

{% block body %}
<main class="container">
    <h1 class="text-center mt-5 mb-5">Message</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Firstname</th>
                <td>{{ user_message.firstname }}</td>
            </tr>
            <tr>
                <th>Lastname</th>
                <td>{{ user_message.lastname }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user_message.email }}</td>
            </tr>
            <tr>
                <th>Reason</th>
                <td>{{ user_message.reason }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ user_message.message }}</td>
            </tr>
            <tr>
                <th>Message</th>
            <td>{{ user_message.danceClasses.name }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_message_index') }}">Retour à la liste des messages</a>

    {{ include('user_message/_delete_form.html.twig') }}
</main>
{% endblock %}
