{% extends 'base.html.twig' %}

{% block title %}EventPlanning index{% endblock %}

{% block body %}
<main class="container">

    <h1 class="text-center mt-5 mb-5">Planning</h1>

    <a href="{{ path('app_event_planning_new') }}">Créer un nouveau planning</a>

    <p>    
    Jour de la semaine (1: Lundi, 2: Mardi, 3: Mercredi, 4: Jeudi, 5: Vendredi)</br>
    Créneau horaire (1: 18-19, 2: 19-20, 3: 20-21, 4: 21-22)
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Jour de la semaine</th>
                <th>Créneau horaire</th>
                <th>Description</th>
                <th>Cours concerné</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event_planning in event_plannings %}
            <tr>
                <td>{{ event_planning.id }}</td>
                <td>{{ event_planning.daysOfWeek }}</td>
                <td>{{ event_planning.hoursOfDay }}</td>
                <td>{{ event_planning.description }}</td>
                <td>{{ event_planning.danceClasses.name }}</td>
                <td>
                    <a href="{{ path('app_event_planning_show', {'id': event_planning.id}) }}">Voir</a>
                    <a href="{{ path('app_event_planning_edit', {'id': event_planning.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}
