{% extends 'base.html.twig' %}

{% block title %}EventPlanning index{% endblock %}

{% block body %}
    <h1>EventPlanning index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>DaysOfWeek</th>
                <th>HoursOfDay</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event_planning in event_plannings %}
            <tr>
                <td>{{ event_planning.id }}</td>
                <td>{{ event_planning.daysOfWeek }}</td>
                <td>{{ event_planning.hoursOfDay }}</td>
                <td>
                    <a href="{{ path('app_event_planning_show', {'id': event_planning.id}) }}">show</a>
                    <a href="{{ path('app_event_planning_edit', {'id': event_planning.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_event_planning_new') }}">Create new</a>
{% endblock %}
