{% extends 'base.html.twig' %}

{% block title %}EventPlanning{% endblock %}

{% block body %}
    <h1>EventPlanning</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ event_planning.id }}</td>
            </tr>
            <tr>
                <th>DaysOfWeek</th>
                <td>{{ event_planning.daysOfWeek }}</td>
            </tr>
            <tr>
                <th>HoursOfDay</th>
                <td>{{ event_planning.hoursOfDay }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_event_planning_index') }}">back to list</a>

    <a href="{{ path('app_event_planning_edit', {'id': event_planning.id}) }}">edit</a>

    {{ include('event_planning/_delete_form.html.twig') }}
{% endblock %}
